@media (min-width: 900px) {
  .section {
    width: 100%;

    .card {
      &__img {
        width: 200px;
        height: 200px;
      }

      &__text {
        width: 90%;
        text-align: left;
      }
    }
  }

  .galery {
    &__img {
      width: 200px;
      height: 200px;
    }
  }
}

@media (min-width: 1100px) {
  .section {
    width: 70%;

    .card {
      &__img {
        width: 280px;
        height: 280px;
      }

      &__text {
        width: 80%;
        text-align: left;
      }
    }
  }

  .galery {
    &__img {
      width: 280px;
      height: 280px;
    }
  }

  .footer {
    height: 250px;
    font-size: smaller;
  }
}
