@import "base/reset";

@import "components/container", "components/gallery", "components/section";

@import "layout/footer", "layout/header";

// * {
//   margin: 0;
//   padding: 0;
//   font-family: Verdana, sans-serif;
// }

// .container {
//   background-color: bisque;
//   margin: 0 auto;
// }

// .header {
//   height: 100px;
//   width: 100%;
//   background-color: cadetblue;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   position: fixed;
//   top: 0;
//   bottom: 20px;

//   .img-folder {
//     margin-left: 20px;

//     &__img {
//       width: 80px;
//     }
//   }

//   .menu {
//     &__list {
//       list-style-type: none;
//       display: flex;
//       justify-content: space-between;
//     }

//     &__item a {
//       padding: 0 20px;
//       text-decoration: none;
//       font-weight: bold;
//       color: darkolivegreen;
//     }

//     &__item a:hover {
//       color: darkgreen;
//     }
//   }
// }

// // secciones

// .section {
//   width: 70%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin: 0 auto;
//   margin-top: 100px;

//   &__title {
//     text-align: center;
//     color: darkolivegreen;
//     font-weight: bold;
//   }

//   &__row {
//     margin-top: 30px;
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }

//   .card {
//     width: 33%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;

//     &__img-folder {
//       width: 100%;
//     }

//     &__img {
//       width: 300px;
//       height: 300px;
//     }

//     &__text {
//       width: 80%;
//       font-size: smaller;
//       text-align: left;
//     }
//   }
// }

// .galery-title {
//   margin-top: 50px;
//   margin-bottom: 30px;
//   text-align: center;
//   color: darkolivegreen;
//   font-weight: bold;
// }
// .galery {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;

//   &__img {
//     width: 300px;
//     height: 300px;
//   }
// }

// .footer {
//   padding: 30px;
//   height: 300px;
//   background-color: cadetblue;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   margin: 0 auto;
//   margin-top: 50px;

//   .menu {
//     &__list {
//       list-style-type: none;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//     }

//     &__item a {
//       padding: 0 20px;
//       text-decoration: none;
//       font-weight: bold;
//       color: darkolivegreen;
//     }

//     &__item a:hover {
//       color: darkgreen;
//     }
//   }
// }

// @media (min-width: 900px) {
//   .section {
//     width: 100%;

//     .card {
//       &__img {
//         width: 200px;
//         height: 200px;
//       }

//       &__text {
//         width: 90%;
//         text-align: left;
//       }
//     }
//   }

//   .galery {
//     &__img {
//       width: 200px;
//       height: 200px;
//     }
//   }
// }

// @media (min-width: 1100px) {
//   .section {
//     width: 70%;

//     .card {
//       &__img {
//         width: 280px;
//         height: 280px;
//       }

//       &__text {
//         width: 80%;
//         text-align: left;
//       }
//     }
//   }

//   .galery {
//     &__img {
//       width: 280px;
//       height: 280px;
//     }
//   }

//   .footer {
//     height: 250px;
//     font-size: smaller;
//   }
// }
