body, html {
    margin: 0;
    padding: 0;
    background: url("/assets/images/fondo.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.menu-bar{
    background-image: linear-gradient(-90deg,#d38312,#a83279);    
}
.navbar{
    color: #fff!;
}
.nav-link{
    font-size: 12px;
    color: #fff;
    margin:3px;
    font-weight: 500;
}
.navbar-nav{
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}
