.galery-title {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: darkolivegreen;
  font-weight: bold;
}
.galery {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__img {
    width: 300px;
    height: 300px;
  }
}
