.section {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;

  &__title {
    text-align: center;
    color: darkolivegreen;
    font-weight: bold;
  }

  &__row {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__img-folder {
      width: 100%;
    }

    &__img {
      width: 300px;
      height: 300px;
    }

    &__text {
      width: 80%;
      font-size: smaller;
      text-align: left;
    }
  }
}
