.footer {
  padding: 30px;
  height: 300px;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;

  .menu {
    &__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__item a {
      padding: 0 20px;
      text-decoration: none;
      font-weight: bold;
      color: darkolivegreen;
    }

    &__item a:hover {
      color: darkgreen;
    }
  }
}
